@tailwind base;
@tailwind components;
@tailwind utilities;

/* Change the background color of the autofill dropdown */
input:-webkit-autofill {
  background-color: transparent !important; /* Use your desired color */
}

/* Change the text color of the autofill dropdown */
input:-webkit-autofill {
  color: #000 !important; /* Use your desired color */
}

/* Remove the default yellow background color for autofill */
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset !important; /* Replace 'white' with your desired color */
}